*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.calculator{
    width: fit-content;
    margin: 10% 40%;
}
input{
    border: red 4px double;
    margin: 2px 0;
}
button{
    border: red 4px double;
    margin: 1.5px;
    cursor: pointer;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 70px);
}
.showResult{
    display: grid;
    grid-template-columns: 80px 160px 80px;
}
.screen{
    display: grid;
    grid-template-columns: 320px;
}